/* Globales Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: auto; /* Ermöglicht horizontales Scrollen, wenn nötig */
}

header {
    background-color: #f6eeee;
    color: white;
    padding: 10px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin: 15px 0;
}

main {
    padding: 20px;
}

/* Container für die Karte */
section.map {
    max-width: 100%;        /* Die Karte nimmt maximal 100% der Breite des Containers ein */
    overflow: visible;      /* Überlauf wird sichtbar gemacht */
    margin: 0 auto;         /* Zentriert den Container auf der Seite */
    display: inline-block;  /* Damit das Bild in den Container passt und scrollbar ist */
}

/* Responsive Image */
img.responsive-image {
    width: 100%;            /* Passt sich der Containerbreite an */
    height: auto;           /* Höhe passt sich automatisch an */
    max-width: 100%;        /* Maximal so breit wie der Container */
    object-fit: contain;    /* Verhindert Verzerrungen, passt das Bild an den Container an */
    display: block;         /* Bild wird als Block-Element dargestellt */
}

/* Media Query für kleine Bildschirme */
@media (max-width: 768px) {
    img.responsive-image {
        max-width: 100%;   /* Bild füllt die gesamte Breite kleiner Bildschirme */
        height: auto;      /* Höhe passt sich automatisch an */
    }
}

footer {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #333;
}