/* Globales Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden; /* Kein horizontales Scrollen, wenn es nicht nötig ist */
}

header {
    background-color: #f6eeee;
    color: white;
    padding: 10px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin: 15px 0;
}

main {
    padding: 20px;
}

/* Container für die Karte */
section.map {
    max-width: 100%;         /* Die Karte nimmt maximal 100% der Breite des Containers ein */
    overflow: hidden;        /* Überlauf wird versteckt */
    margin: 0 auto;          /* Zentriert den Container auf der Seite */
    display: inline-block;   /* Damit das Bild in den Container passt und scrollbar ist */
}

/* Responsive Image */
img.responsive-image {
    width: 100%;             /* Bild füllt den gesamten Container */
    height: auto;            /* Höhe wird proportional angepasst */
    display: block;          /* Bild wird als Block-Element dargestellt */
    text-align: center;
}

/* Media Query für kleine Bildschirme */
@media (max-width: 768px) {
    img.responsive-image {
        max-width: 100%;     /* Bild füllt die gesamte Breite kleiner Bildschirme */
        height: auto;        /* Höhe passt sich automatisch an */
    }
}

footer {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #333;
}